<% include ../partials/header %>

<div class = "container">
    <h3 style = "text-align:center">Add a New Comment to <%=toursite.name %></h3>

     <div style = "width:30%; margin:25px auto">

        <form action = "/toursites/<%= toursite._id %>/comments" method = "POST">
            <div class="form-group">
                    <input class="form-control" type="text" name="text" placeholder="text">
                </div>
                
             
            <div class = "form-group">
                 <input class = "btn btn-block btn-success" type = "submit">
            </div>
           
            
            
           
            
        </form>
        
        <a href = "/">Go to Home Page</a>
        
        <a href = "/toursites">See existing tour sites</a>
        
                 
     </div>
    
</div>



<% include ../partials/footer %>